<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Add new list</h4>
                        <p class="card-category">Provide list info</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <mat-form-field class="example-full-width">
                                        <input #name matInput placeholder="List name:">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input #expiryDate matInput type="date" placeholder="Expiry date:">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input #expiryDateTime matTimepicker placeholder="Time:">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                            <button (click)="addList(name.value, expiryDate.value, expiryDateTime.value)" mat-raised-button type="submit"
                                class="btn btn-success pull-right">Create</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>