<div class="main-content">
  <div *ngIf="user" class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">User profile</h4>
            <p class="card-category">Update your profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.email" matInput name="email" placeholder="Email">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.firstName" name="firstName" matInput placeholder="First name">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.secondName" name="lastName" matInput placeholder="Last name">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.birthDate" name="birthDate" matInput placeholder="Birth date">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.city" name="city" matInput placeholder="City">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.street" name="street" matInput placeholder="Street">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="user.postalCode"name="postalCode" matInput placeholder="Postal code">
                  </mat-form-field>
                </div>
              </div>
              <button
                (click)="update()"
                mat-raised-button type="submit" class="btn btn-primary pull-right">Update</button>
                <button
                  (click)="remove()"
                  mat-raised-button type="submit" class="btn btn-danger pull-right">Remove</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <div>
              <h6 class="card-category text-gray">Profile info:</h6>
              <h4 class="card-title"><b>User name:</b> {{user.userName}}</h4>
              <p class="card-description">
              </p>
            </div>
            <div>
              <b>Created at:</b> <p>{{user.createDate}}</p>
            </div>
            <div>
              <b>Modified at:</b> <p>{{user.modifyDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>